<section class="addArticleCont">
	<form class="add" action ="/add" method="post">
			<div class="input-row">
				<input type="submit" value="Create" />
			</div>

			<div class="input-row">
				<label for="title">Title: </label>
				<input type="text" name="title" value=""/>
			</div>

			<div class="input-row">
				<label for="author">Author: </label>
				<input type="text" name="author" value=""/>
			</div>

			<div class="input-row">
				<label for="copy">Copy: </label>
				<textarea type="text" name="copy"></textarea>
			</div>
		</form>
</section>
