<!doctype html>
<html class="no-js" lang="">
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Internal-Wiki</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/html5bp.css" media="screen" charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <h1>naviagation bar</h1>
  <form action="/add">
    <input type="submit" value="Add article">
  </form>
    <%= yield %>
  </body>

</html>
