<html>

  <head>
    <title>Internal-Wiki</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="/scripts/jquery-2.1.3.js"></script>
  </head>

  <body>
  <h1>naviagation bar</h1>
    <%= yield %>
  </body>

</html>
