<!doctype html>
<html class="no-js" lang="">
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Internal-Wiki</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/html5bp.css" media="screen" charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <h1>naviagation bar</h1>
    <% if session["user_id"] %>
      Hello <%= current_user['fname'] %>
      <p>Thanks for signing up!</p>
      <a href = "/log_out"><button type="">Log out</button></a>
    <% elsif params['login']%>
      Hello <%= current_user['fname'] %>
      <a href = "/log_out"><button type="">Log out</button></a>
    <% else %>
      <div>
        <h1>Login</h1>
        <a href = "/login"><button type="">Login</button></a>
      </div>
      <div>
        <h1>Need to sign up?</h1>
        <a href="/signup"><button type="button">Sign up!</button></a>
      </div>
    <% end %>
    <%= yield %>
  </body>

</html>
