<form action="/signup" method="post">
	<div class="input-row">
		<label for="fname">First Name: </label><br />
		<input id="fname" type="text" name="fname" required />
	</div>

	<div class="input-row">
		<label for="lname">Last Name: </label><br />
		<input id="lname" type="text" name="lname" required />
	</div>

	<div class="input-row">
		<label for="position">Position: </label><br />
		<input id="position" type="text" name="position" required />
	</div>

	<div class="input-row">
		<label for="email">Email: </label><br />
		<input id="email" type="text" name="email" required />
	</div>
	
	<div class="input-row">
		<label for="password_digest">Password: </label><br />
		<input id="password_digest" type="password" name="password_digest" required />
	</div>

	<div class="input-row">
		<input type="submit" value="Signup" />
	</div>
			
</form>